In [9]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, wilcoxon,shapiro
from statsmodels.stats.power import ttest_power

In [10]:
# daily intake of energy in kJ for 11 women
daily_intake = np.array([5260,5470,5640,6180,6390,6515,
                         6805,7515,7515,8230,8770])

In [11]:
daily_intake.mean()

6753.636363636364

1. Null Hypothesis = Mean of energy in take is same as 6753
2. Alternate Hypothesis = New value does not equal to 6753

In [12]:
pd.DataFrame(daily_intake)

       0
0   5260
1   5470
2   5640
3   6180
4   6390
5   6515
6   6805
7   7515
8   7515
9   8230
10  8770

In [13]:
# one sample t-test
# null hypothesis: expected value = 6753
t_statistic, p_value = ttest_1samp(daily_intake, 6753)
print(t_statistic,p_value)

0.0018479436991883395 0.9985619001274401

In [15]:
Sign_level = 0.05

In [16]:
p_value < Sign_level

False

In [17]:
# p_value < 0.05 => alternative hypothesis:
# data deviate significantly from the hypothesis that the mean
# is 7725 at the 5% level of significance
print ("one-sample t-test p-value=", p_value)

one-sample t-test p-value= 0.9985619001274401